body {
	background-color: #373b41;
	color: #ffffff;
	font-family: "Roboto Mono";
	font-size: 10pt;
	overflow-x: hidden;
}

a {
	color: #81a2be;
}

em {
	font-style: italic;
}

.wrapper {
	height: calc(100vh - 32px);
	width: calc(100vw - 32px);
	padding: 16px;
	overflow-y: auto;
}

.prompt {
	opacity: 0.5;
}

.output {
	line-height: 16px;
}

.output_row {
	display: block;
	width: 100%;
	min-height: 16px;
	line-height: 16px;
	white-space: pre;
    word-wrap: break-word;
    white-space: pre-line;
}

.output_row .prompt {
	opacity: 0.33;
}

.input {
	display: table;
	width: 100%;
}
#main_prompt {
	display: table-cell;
	width: 16px;
}
input[type="text"] { 
	background: transparent;
	border: none;
	outline: none;
	color: #ffffff;
	font-family: "Roboto Mono";
	font-size: 10pt;
	height: 16px;
	line-height: 16px;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.error { color: #c66; }

.help_func_name { color: #f0c674; font-weight: 700; }
.help_func_shell_name { color: #b5bd68; font-weight: 700; }
.help_func_args { color: #b4b7b4; }
.help_func_args_name { font-weight: 700; }